*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #80808029;
    font-family: 'Raleway', sans-serif;
}

/* TOPO */

.cabeçalho{
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.cabeçalho-container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
}



.cabeçalho-container img{
    width: 32px;
    height: 32px;
}

.cabeçalho-container p{
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}

/* Seção formulário */


.secao-formulario{
    width: 100%;
    height: auto;
    background-image: url("imagens/bahia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container-secao-formulario{
    max-width: 1024px;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    margin: 0 auto;
}

.topo-formulario{
    width: 100%;
    height: 35px;
    background-color: #5d15d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo-formulario img{
    width: 20px;
    height: 20px;
    rotate: -45deg;
}

.topo-formulario p{
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
}


/* formulário */

.formulario{
    width: 100%;
    background-color: #fff;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
}

.formulario h2{
    font-size: 22px;
    margin-bottom: 24px;
}

.formulario form{
    display: flex;
    flex-direction: column;
}

.formulario form label{
    font-size: 16px;
}


.formulario form .campo-bloco input,select{
    height: 32px;
    margin: 10px 0px;
    width: 100%;
    padding: 0px 5px;
}


.campo-bloco-date{
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.ida{
    width: 50%;
}

.volta{
    width: 50%;
}


.origem-destino-container{
    width: 100%;
    display: flex;
    column-gap: 20px;
}


.origem{
    width: 50%;
}

.destino{
    width: 50%;
}

.radio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.radio div{
    display: flex;
    align-items: center;
    width: 120px;
}

.radio div input{
    width: 15px;
}

.radio div  label{
    margin-left: 15px;
}

.label{
    margin: 10px 0px;
}


button{
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
}

/* secao ofertas */

.secao-ofertas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 32px auto 0px auto;
    max-width: 1024px;
}

.secao-ofertas .bloco-texto h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.bloco-texto p{
    font-size: 16px;
    margin-bottom: 15px;
}

.bloco-texto p span{
    font-weight: bold;
}

.bloco-imagens{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.bloco-imagens img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destaque{
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}

.menores{
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.menores figure{
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0px 6px;
}

.menores figcaption, .destaque figcaption{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.43);
    font-size: 17px;
    color: white;
    padding: 5px 10px;
    box-sizing: border-box;
}

/* secao ofertas - anuncios */

.duas-imagens{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.duas-imagens figure{
    width: calc(50% - 10px);
    height: 100%;
}

.duas-imagens img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.duas-imagens figure div{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}

.duas-imagens figure div h3{
    font-size: 16px;
}

.duas-imagens figure div p{
    margin-top: 15px;
    color: grey;
    font-size: 14px;
}

.bloco-texto-anuncio{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* rodape */


footer{
    width: 100%;
    background-color: #5d15d1;
    margin-top: 32px;

}

.container-rodape{
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
}

.rodape-contatos,.rodape-sociais{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.rodape-contatos h3, .rodape-sociais h3{
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}

.rodape-contatos div, .rodape-sociais div{
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.rodape-contatos img, .rodape-sociais img{
    width: 18px;
    margin-right: 10px;
}

.rodape-contatos div p, .rodape-sociais div p{
    color: #fff;
    font-size: 14px;
}

/* Responsivo */

@media only screen and (max-width: 1100px){
    .cabeçalho-container{
        width: 90%;
    }

    .container-secao-formulario{
        width: 90%;
    }

    .secao-ofertas{
        width: 90%;
    }

    .container-rodape{
        width: 90%;
    }
}

@media only screen and (max-width: 768px){
    button{
        width: 100%;
    }

    .bloco-imagens{
        flex-direction: column;
        height: 100%;
    }

    .menores{
        width: 100%;
    }

   .destaque, .menores figure{
        width: 100%;
        height: 222px;
        margin: 15px 0px;
    }

    .duas-imagens{
        flex-direction: column;
    }

    .duas-imagens figure{
        width: 100%;
        margin-top: 15px;
    }

    .container-rodape{
        flex-direction: column;
        align-items: center;
    }

    .rodape-contatos, .rodape-sociais {
        width: 250px;
    }
    

}

@media only screen and (max-width: 540px){
    .campo-bloco-date{
        flex-direction: column;
    }

    .origem-destino-container{
        flex-direction: column;
    }

    .radio{
        flex-direction: column;
    }

    .campo-bloco-date div, .origem-destino-container div {
        width: 100%;
    }

}